body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.side-nav{
    border: 1px solid black;
    background-color: rgba(0,0,0,.95);
    color: white;
    font-weight: bolder;
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -60%;
    animation: menu 0.5s ease-in-out forwards;
    box-shadow:  0 0 1rem rgba(0, 0, 0,0.9);
    z-index: 2;
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem 2rem 1.5rem;
    border-bottom: 1px solid white;
    .close{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .close-btn{
        font-size: 1.5rem;
        background-color: rgba(0,0,0,.95);
        color: white;
        border: none;
      }
    }
  }
  .links{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    li{
      list-style: none;
    }
    .nav-item{
      .nav-link{
        text-decoration: none;
      color: white;
      }
    }
  }
  .link{
    text-decoration: none;
    padding: 1rem 0rem;
  }
  @keyframes menu{
    0%{
      left:-60%;
    }
    100%{
      left: 0%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .side-nav{
    width: 25%;
  }
}
